@font-face {
	font-family: nsans;
	font-style: normal;
	src: url(data/nsans-n.ttf);
}
@font-face {
	font-family: nsans-b;
	font-weight: bold;
	src: url(data/nsans-b.ttf);
}
@font-face {
	font-family: nsans-o;
	font-style: oblique;
	src: url(data/nsans-o.ttf);
}
@font-face {
	font-family: nsans-bo;
	font-style: oblique, bold;
	src: url(data/nsans-bo.ttf);
}

:root {
	--bg0_h:  #1d2021;
	--bg0:    #282828;
	--bg1:    #3c3836;
	--bg2:    #504945;
	--bg3:    #665c54;
	--bg4:    #7c6f64;

	--bg:     #282828;
	--fg:     #ebdbb2;

	--red:    #cc241d;
	--green:  #98971a;
	--yellow: #d79921;
	--blue:   #458588;
	--purple: #b16286;
	--aqua:   #689d6a;
	--gray:   #928374;
	--orange: #d65d0e;

	--lred:   #fb4934;
	--lgreen: #b8bb26;
	--lyellow:#fabd2f;
	--lblue:  #83a598;
	--lpurple:#d3869b;
	--laqua:  #8ec07c;
	--lgray:  #a89984;

	--neon1:  #fabd2f;
	--neon2:  #d79921;
}
embed { width: 100%; height:100%}
html {margin: 0; padding: 0; height:100%}

/* Header */
header {
	justify-content: space-between;
	display: flex;
	width:100%;
	font-size:1.1rem;
	background:var(--bg0_h);
	top: 0;
	margin-bottom: 1em;
	padding-top: 0.3em;
	padding-bottom: 0.5em;
}

/* Body */
body {
	color: var(--fg);
	background-color: var(--bg);
	font-size: 1.1rem;
	line-height: 1.5;
	font-family: sans-serif,Helvetica;
	height:100%;
	margin:0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-rendering: optimizeLegibility;
	background-size: cover;
	padding:0;
	text-shadow: 1px 1px 0 rgb(0,0,0,1);
	word-wrap: break-word;
}
#body {
	text-align: justify;
	margin: auto;
	min-width: 50em;
	max-width: 800px;
	min-height:100%;
	padding: 1em;
}

/* Footer */
footer {
	justify-content: space-between;
	display: flex;
	width:100%;
	bottom: 0;
	background:var(--bg0_h);
	margin-top: 1em
}
.footer:first-child,.footer:last-child {margin: 0 1em 0 1em}
.footer {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
div.footer img {height:1.2rem;}

/* Headers */
h1,h2,h3 {
	text-shadow: 2px 2px rgb(0,0,0,1);
	line-height: 1em;
	margin-top:2em;
	margin-bottom:0.2em;
	padding-top:0.3em;

}
h1 {color:var(--red);text-align:center}
h2 {color:var(--orange)}
h3 {color:var(--yellow)}
h4 {color:var(--blue)}

@media (min-width: 55em) {
	.resright {
		display: block ;
		float: right;
		padding: 20px ;
		clear: both ;
		max-height: 300px ;
		max-width: 300px ;
	}
}
/* Navigation bar */
.navitems  {
	margin: 0;
	display: flex;
	column-gap: 2em;
	list-style-type: none;
	padding-inline-start: 0;
}

.sub-menu-1 {
	display:none;
}
.sub-menu-1 ul {
	min-width: 100%;
	list-style-type: none;
	padding-inline-start: 0;
	background:var(--bg0_h);
	padding: 0 1rem 0.7rem 1rem;
	margin-left: -1rem;
}
.navitems ul {display:block}
.navitems li:hover .sub-menu-1 {
	position:absolute;
	display:block;
}


/* buttons */
a, button {
	color: var(--fg);
	text-decoration:none;
	font-family: 'nsans','nsans-b','nsans-o','nsans-bo'
}
button:hover, a:hover {
	color: var(--lgreen);
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
button {
	font-size:1.1rem;
	background: var(--lblue);
	border: none;
	padding: 0 10px 0 10px;
	border-radius: 50px;
}

/* "cards" */
div.card {
        background: var(--bg1);
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0 15px 10px 15px;
	border-left: 2px solid var(--orange);
	border-bottom: 1px solid var(--orange);
}
div.card h2 { margin-top: 0; margin-bottom: 0.2em;}
div.card text {	padding-left: 10px; }


/* Flexbox with blocks */
ul.block {
	list-style-type:none;
	padding-inline-start: 0;
	display:flex;
	flex-wrap: wrap;
	column-gap: 1em;
	margin:0 1.1em 0 1.1em;
}
ul.block li {
	background: var(--bg1);
}
ul.block li a { padding: 5px 15px 5px 15px; }

/* Gallery */
div.gallery {
	display:flex;
	gap: 20px 20px;
	flex-wrap: wrap;
	justify-content: center;
}

div.gallery img {
	width: 22%;
	transition: all 0.3s ease 0s;
}
div.gallery img:hover {
	transform: scale(1.1);
}


/* Toggle dropdown list */
summary {
	font-family: 'nsans','nsans-b','nsans-o','nsans-bo';
	color: var(--yellow);
	font-weight: bold;
	padding: 5px 0px 5px 10px;
}

details summary::marker {
	content:" ";
}

details[open] summary::marker {
	content: " ";
}

details {
	border-left: 2px solid var(--yellow);
	border-bottom: 1px solid var(--yellow);
        background: var(--bg2);
	margin:0.5em;
        font-family: 'nsans','nsans-b','nsans-o','nsans-bo';
}

/* UL used in blog page */
ul.ul1 {

	list-style-type: none;
}
ul.ul1 li::before {
	font-family: 'nsans','nsans-b','nsans-o','nsans-bo';
	content:" ";
}
ul.ul1 li {
	background: var(--bg2);
	padding: 5px 15px 5px 15px;
}
ul.ul1 li a {
	color: var(--laqua);
}
ul.ul1 li a:hover {
	color: var(--aqua);
}


ul.ul2 {
	margin-top:0;
	padding-inline-start: 1em;
        list-style-type: none;

}
ul.ul2 li::before {
        font-family: 'nsans','nsans-b','nsans-o','nsans-bo';
        content:" ";
}
ul.ul2 li {
       font-family: consolas;
       padding: 5px 15px 5px 15px;
}
ul.ul2 li a {
    	padding: 5px 15px 5px 15px;
        font-family: 'nsans','nsans-b','nsans-o','nsans-bo';
	color: var(--laqua);
}
ul.ul2 li a:hover {
	color: var(--aqua);
}

ol.toc {
}
ol.toc li {
	padding:0.2em;
}
ol.toc li a {
	color:var(--laqua);
}

.parallax{
	margin: auto;
	margin-top:4em;
	min-width: 50em;
	max-width: 800px;
	min-height:100%;
	padding: 1em;

	/* Center Vertically */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* Set a specific height */
	min-height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

div.transparent-container {
	background: rgba(0,0,0,0.4);
	padding: 2em;
}
div.transparent-container h1, .transparent-container h2 {
	margin: 0.5em;
}
div.transparent-container h1 {
	font-size: 40px;
	font-family: "Times New Roman";
	text-align: center;
}

.still-glow {
	color: #f6f6f6;
	text-shadow:
	    0 0 0.25em var(--fg),
	    0 0 0.375em var(--fg),
	    0 0 0.5em var(--fg),
	    0 0 0.75em var(--neon2);
}
.glow {
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
	color: #f6f6f6;
}
@-webkit-keyframes glow {
  from {
    text-shadow:
    0 0 0.125em var(--fg),
    0 0 0.25em var(--fg),
    0 0 0.35em var(--neon1),
    0 0 0.5em var(--fg),
    0 0 0.62em var(--neon1),
    0 0 0.75em var(--fg),
    0 0 0.875em var(--fg);
  }
  to {
    text-shadow:
    0 0 0.25em var(--fg),
    0 0 0.375em var(--neon2),
    0 0 0.5em var(--neon2),
    0 0 0.62em var(--fg),
    0 0 0.75em var(--neon2),
    0 0 0.875em var(--fg),
    0 0 1em var(--fg);
  }
}

code {
	background: var(--bg1) ;
	color: var(--lgreen) ;
	padding: 0 0.2em 0 0.2em ;
	overflow-wrap: break-word ;
}
p a, blockquote a, ul.p li a {
	font-family: sans-serif,Helvetica;
	color: var(--lblue) ;
	padding: 0 0.2em 0 0.2em ;
	overflow-wrap: break-word ;
}
dt { font-weight: bold ; color: lightgray ; padding-top: 0.5em }
figcaption { font-style: italic ; font-size: small ; }
figure { text-align: center; }

div.center {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center ;
	overflow-wrap: break-word ;
}
